<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belebog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upper_but.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forBelebog.css') }}">
</head>
<body>
    <div class="button-container">
        <div class="button-left">
            <button class="btn-upper">Home</button>
            <button class="btn-upper">Story</button>
            <button class="btn-upper">Contact</button>
        </div>
        <div class="button-right">
            <button class="btn-upper">โปรไฟล์</button>
            <button class="btn-upper" type="button" onclick="window.location.href='/login'">ออกจากระบบ</button>
        </div>
    </div>
    

    <h1 class="welcome-text">เรื่องราวในอดีต...จะต้องถูกแก้ไข</h1>


    <div class="container">
        <div class="left">
            <img src="{{ url_for('static', filename='img/Belobog.jpg') }}" alt="Belobog" class="background-image">
        </div>
        <div class="right">
            <h1 class="welcome-text">เรื่องราวในอดีต...จะต้องถูกแก้ไข</h1>
            <h2><p>เนื้อเรื่องของดาวดวงนี้</p></h2>
            <h3>เมื่อราวพันปีก่อน ลมหนาวนิรันดร์ที่พัดมาถึงได้นำพาความหนาวเหน็บตลอดกาลมาเยือน ทำให้ผืนดินกลายเป็นสีขาวบริสุทธิ์ โชคดีที่พลังของ "การอนุรักษ์" ได้มอบพรให้กับ Belobog แม้ว่าที่แห่งนี้จะถูกพายุหิมะรุกราน แต่มนุษยชาติก็ยังคงดำรงชีวิตอยู่ และเรื่องราวของ Belobog ก็เริ่มต้นขึ้น</h3>
        </div>
    </div>

</body>