<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fordash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upper_but.css') }}">
</head>
<body>
    <video autoplay loop muted playsinline class="bg-video">
        <source src="/static/img/dashback.mp4" type="video/mp4">

    </video>
    <div class="button-container">
        <div class="button-left">
            <button class="btn-upper">Home</button>
            <button class="btn-upper">Story</button>
            <button class="btn-upper">ปุ่ม 3</button>
        </div>
        <div class="button-right">
            <button class="btn-upper">โปรไฟล์</button>
            <button class="btn-upper" type="button" onclick="window.location.href='/login'">ออกจากระบบ</button>
        </div>
    </div>
    <h1 class="welcome-text">ยินดีต้อนรับ {{ username }}!</h1>
    <!-- <a href="{{ url_for('logout') }}">ออกจากระบบ</a> -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
