<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ชมรมคนรักรางดาว</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_buthome.css') }}">

</head>
<body>
    <!-- รูปภาพแสดงก่อน -->
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="intro-logo">

    <h1 class="welcome-text">Welcome to ชมรมคนรักรางดาว</h1>
    
    <div class="btn-container">
        <a href="{{ url_for('login') }}" class="btn-home">เข้าสู่ระบบ</a>
        <a href="{{ url_for('register') }}" class="btn-home">สมัครสมาชิก</a>
    </div>
</body>
</html>
